@import url(http://fonts.googleapis.com/earlyaccess/notosanssinhala.css);
body {
    font: 16px/1.5 'Karla', sans-serif;
    margin: 2rem 0 5rem;
    color: #333;
      background: rgb(255, 202, 29);;
    font-variant-ligatures: common-ligatures;
-moz-font-feature-settings: "liga", "clig";
-ms-font-feature-settings: "liga", "clig";
-webkit-font-feature-settings: "liga", "clig";
font-feature-settings: "liga", "clig";
}

@media (min-width: 30rem) {
    body {
        margin-top: 5rem;
    }
}

.white_text_back {
    background: #fff;
    z-index: 1000;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.half {
    width: 50%;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {}

h1 {
font-family: 'Ek Mukta', sans-serif;    font-weight: 700;
    margin: 0 0 0.5rem -0.1rem;
    color: #27628d;
    /* align left edge */

    line-height: 1.7;
    color: #111;
    text-rendering: optimizeLegibility;
}

h2,
h3,
h4,
h5,
h6 {
font-family: 'Ek Mukta', sans-serif;
    font-weight: 700;
    margin: 0 0 0.5rem -0.1rem;
    color: #27628d;
    /* align left edge */

    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility;
}



h2.services {
  font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-style: italic;
    text-align: center;
  }

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 30rem) {
    h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

h1 a {
    color: inherit;
}

h2 {
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
    h2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
}

p,
ul,
ol,
dl,
table,
pre {
    margin-top: 0;
    margin-bottom: 1rem;
font-family: 'Ek Mukta', sans-serif;}

blockquote {}

ul,
ol {
    padding-left: 1.5rem;
}

dd {
    margin-left: 1.5rem;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: .5rem 1rem;
font-family: 'Ek Mukta', sans-serif;    font-weight: 700;
    color: #666;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

blockquote p:last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: -1px;
}

.container img,
.container iframe {
    max-width: 100%;
}

img.fullwidth {
    max-width: 100%;
}

.container img {
    margin: 0 auto;
    display: block;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border: 1px solid #ccc;
}

pre,
code {
    font-family: inherit;
    background-color: #eee;
}

pre {
    padding: .5rem 1rem;
    font-size: 0.8rem;
}

code {
    padding: .1rem .25rem;
}

pre > code {
    padding: 0;
}

.container {
    width: 100%;
    left: 0;
}
/*tiles*/

.tile {
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.tile:hover {
    padding: 10px;
    text-decoration: none;
    color: #000000;
    background: #eee;
}

a.tile_link {
    text-decoration: none;
}

a.tile_link:hover {
    text-decoration: none;
}

a.tile_link:focus {
    text-decoration: none;
}

.tile img {
    width: 100%;
    margin:
}

.category {
    color: #000;
    padding: 0px;
    text-transform: uppercase;
}

.code_display {
    background: #000000;
    color: #fff;
    font-family: monospace;
    overflow: auto;
    width: auto;
    border: solid gray;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
}

.fixed {
    position: fixed;
}

#link_panel{
    background: url(../images/2.jpg);
     background-repeat:no-repeat;
    background-size:cover;
    height: 500px;
    margin-bottom: -50px;

}

/* BUTTONS */

.btn {
    color: #cbebeb;
    background: #3377a8;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn:hover {
    background: #27628d;
    color: azure;
}

.big {
    font-size: 30px;
    display: block;
    color: #103300;
    width: auto;
    float: left;
    margin: 10px;
    background: #A1E62E;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.big:hover {
    background: #438d40;
    color: azure;
}

#logoimg {
    float: left;
}


#footer {
  background: #fff;
  /* margin: 50px; */
  padding: 50px;
  border-top: 1px #000 solid;
}

#yellow{

  background: #fff;
  padding-top: 60px;


}
