<div class="grid grid-pad">


    <div class="col-1-2  mobile-col-1-1">
        <a href="{{ site.baseurl }}/"><h1><img id='logoimg' src="{{ site.baseurl }}/images/logo.svg"></a>

    </div>
    <div class="col-1-2 mobile-col-1-1">
        <br>

        <p style=''> LMD Construction and Engineering evolved by the transformation of its mother company which was in
            operation over a period of two decades. Established in 1993 “Lakmali Construction “with the guidance of its
            new board members and investors has addressed the present and feature demands of the twenty-first century
            constructions requisites.

    </div>


</div>
